<link rel="stylesheet" href="public/css/corps.css">
<%- include("include/menu"); %> 

<div class="container">
    <h1 class="title">Give me one tricks</h1>

    <div class="tricks">
        
        <p>Give me one tricks</p>
    </div>
</div>


