body {
    font-size: 3em;
}

.title {
    text-align: center;
}

.container {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    right: 0;
}

.sportTitle {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 0 0;
}

.tricks {
    padding-left: 60px;
}

.btn {
    border-color: inherit;
    border-width: 0;
    border-radius: 12px;
    padding: 6px;
    font-size: 100%;
    width: 200px;
    height: 80px;
}

.validate {
    background-color: rgb(83, 233, 83);
}

.fail {
    background-color: lightcoral;
}

.skip {
    background-color: lightblue;
}

.reset {
    background-color: lightgray;
    margin-top: 30px;
}

.btnGroup {
    width: 100%;
    text-align: center;
}

.btnIndexGroup {
    width: 85%;
    margin: 0 auto;
}

.btnIndex {
    height: 300px;
    background-color: rgb(126, 172, 187);
    font-size: 100%;
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
}

.indexDesc {
    width: 85%;
    margin: 0 auto;
}

.easy {
    background-color: lightgreen;
}

.easy:active {
    background-color: rgb(99, 184, 99);
}

.medium {
    background-color: lightblue;
}

.medium:active {
    background-color: rgb(112, 163, 180);
}

.hard {
    background-color: lightcoral;
}

.hard:active {
    background-color: rgb(180, 92, 92);
}

.all {
    background-color: lightslategrey;
}

.all:active {
    background-color: rgb(96, 108, 121);
}