* {
    overflow: hidden;
}

body {
    font-size: 3em;
}

.title {
    text-align: center;
}

.container {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    right: 0;
}

.sportTitle {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 0 0;
}

.tricks {
    padding-left: 60px;
}

.btn {
    border-color: inherit;
    border-width: 0;
    border-radius: 12px;
    padding: 6px;
    font-size: 100%;
    width: 200px;
    height: 80px;
}

.validate {
    background-color: rgb(83, 233, 83);
}

.fail {
    background-color: lightcoral;
}

.skip {
    background-color: lightblue;
}

.reset {
    background-color: lightgray;
    margin-top: 30px;
}

.btnGroup {
    width: 100%;
    text-align: center;
}