<div class="menu">
    <div class="entete">
        <div class="enteteLeft">
            <a href="/">Accueil</a>
        </div>
        <div class="enteteCenter">
            Give me one tricks
        </div>
        <div class="enteteRight">
            <span class="dropTitle" onclick="switchDrop()">Sport</span>
        </div>
    </div>
        <ul id="drop" class="drop dropHide">
            <li>
                <a href="/sport/bmx">BMX</a>
            </li>
            <li>
                <a href="/sport/parkour">Parkour</a>
            </li>
            <li>
                <a href="/sport/trot">Trot</a>
            </li>
        </ul>
</div>
