<link rel="stylesheet" href="../public/css/menu.css">
<script src="../public/js/menu.js"></script>

<div class="menu">
    <a href="/">Accueil</a>
        <span class="dropTitle" onclick="switchDrop()">Sport</span>
        <ul id="drop" class="drop">
            <li><a href="/sport/bmx">BMX</a></li>
            <li><a href="/sport/parkour">Parkour</a></li>
            <li><a href="/sport/trot">Trot</a></li>
        </ul>
</div>
