<link rel="stylesheet" href="../public/css/menu.css">

<div class="menu">
    <a href="/">Accueil</a> -- <a href="/sport/bmx">BMX</a> -- <a href="/sport/parkour">Parkour</a> -- <a href="/sport/trot">Trot</a>
</div>
