<%- include("../include/menu"); %> 
<link rel="stylesheet" href="../public/css/corps.css">

<div class="container"">
    <h1>Trot</h1>
    
    
    <h2>Trick : <span id="tricks"><%= tricks.name %></span></h2>
    <h3>Difficulty : <span id="difficulty"><%= tricks.difficulty %></span></h3>

    <h2>Your score : <span id="yourScore"></span></h2>

    <button onclick="score('plus')">Valider</button>
    <button onclick="score('moins')">Rater</button>
    <button onclick="score('zero')">Passer</button>
    <button onclick="score('reset')">Reset</button>
</div>

<script src="../../public/js/score.js"></script>